.project-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.card-title {
  font-size: 1.8rem;
  text-decoration: underline;
}

.card-text {
  font-size: 1.4rem;
}

.card-img {
  padding: 10px;
  border-bottom: 1px solid black;
  height: 200px;
}