.project-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

a {
  text-decoration: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid darkcyan;
  border-radius: 25px;
  color: darkcyan;
  height: 476px;
}

.card-title {
  font-size: 1.8rem;
  text-decoration: underline;
}

.card-text {
  font-size: 1.4rem;
}

.card-img {
  padding: 10px;
  border-bottom: 1px solid black;
  height: 200px;
}