.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
    width: 300px;
  }

.links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  background-color: rgba(255, 255, 255, .795);
  border: 2px solid darkcyan;
  border-radius: 25px;
  padding: 25px;
}

#li-logo {
  width: 115px;
}
  
#gh-logo {
  width: 100px;
}

#email-icon {
  width: 100px;
}

#resume-icon {
  width: 100px;
}

@media only screen and (min-width: 1024px) {

  .contact-section {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 10% 40% 40% 10%;
    justify-content: center;
    text-align: center;
  }
  
  .headshot-container {
    grid-column: 2 / 3;
    justify-self: center;
  }
  
  .links {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
      'resume email'
      'linkedIn github';
    align-items: center;
    justify-self: center;
    grid-gap: 50px;
  }
}

@media only screen and (min-width: 1420px) {
  .contact-section {
    grid-template-columns: 10% 35% 5% 35% 10%;
  }

  .links {
    grid-column: 4 / 5;
  }
}