
.body {
  content: "";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  font-family: 'Rokkitt', serif;
  z-index: -10;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #a6dbdb;
}

h1 {
  font-size: 2.7rem;
}

p {
  font-size: 1.7rem;
}

.landing {
  text-align: center;
  margin-top: 150px;
  padding-top: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid darkcyan;
  border-radius: 25px;
  width: auto;
  color: darkcyan;
}

.brand-statement {
  margin: 50px;
}

.projects {
  margin: 100px;
}

.contact {
  margin-bottom: 100px;
}

.techs {
  margin-bottom: 15px;
}

.techs > img {
  width: 130px;
}

@media only screen and (min-width: 500px) {
  .body {
    background-image: url(./images/Bridge-background-v1.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    }
}

@media only screen and (min-width: 800px) {
  .landing {
    width: 750px;
  }
}