.fullpage {
  display: flex;
  flex-direction: column;
}

.brand-statement {
  /* width: 700px; */
  margin: 100px;
  text-align: center;
}

.projects {
  margin: 0 100px 100px 100px;
}

.contact {
  margin-bottom: 100px;
}